* { box-sizing: border-box; }


#trapper { padding: 5px 5px; }

.rightpadder { padding-right: 100px; }

body { background-color: #000000; }
header{ background-color: #D5D5D5; 
		padding: 10px 5px;
		width: 100%;
		
		}


nav	{ position: fixed ;
		background-color: #fafafa;
		background-image: url(sp.jpg);
		background-repeat: no-repeat;
		box-shadow: 2px 4px 4px black;
		padding-left: 25px;
		height: 100px;
		width: 100%;
		
		
		
		
		
}


nav li { display: inline; }
nav ul { list-style-type: none; margin: 50px; padding: 30px }

nav a { text-decoration: none;
		padding-right: 15px;
		padding-left: 15px;
		background-color: #D5D5D5;
		text-align: center;
		border: 1px solid #000000;
		
}
nav a:link { color: #000000; }
nav a:visited { color: #EAEAEA; }
nav a:hover { color: #869DC7; background-color: #EAEAEA; }



main { background-color: #fff;
		margin-left: 160px
		color: #000000;
		padding: 45px;		
		
		
		
		
}

rightColumn { float: right;
				width: 200px; 
				height: 678px;
				font-weight: bold;
				background-color: #D5D5D5; 
				overflow: hidden;
}



footer { font-size: 70%; 
			text-align: center; 
			padding: 2%; background-color: #D5D5D5; 
			clear: both; 
			
			
}

div.relative {
  position: relative;
  width: 1000px;
  height: 200px;
  border: 3px solid #73AD21;
  
} 

div.absolute {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
  
}
